<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Payment</title>
  <link rel="shortcut icon" href="/assets/img/JustLift-logo.png`"/>
  <link rel="stylesheet" type="text/css" href="/assets/newStyle.css"/>
</head>
<body>
  <nav>
    <div class="navlink"><a href="/logout">Log out</a></div>
  </nav>

  <section id="content">

  </section>

  <div id="justMessage" class='hidden'>
    <h3><span id="errorMessage"></span></h3>
  </div>
  <script src="/assets/paymentBundle.js"></script>
</body>
</html>